<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <ul class="list-group">
            <li class="list-group-item border-0" *ngFor="let follower of followerrs">
                <div class="card mb-10 border-0 " style="max-width: 500px;">
                    <div class="row no-gutters border-0 ">
                      <div class="col-md-4">
                        <img src="{{follower.avatar_url}}" class="img-thumbnail border-0  rounded-circle">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{follower.login}}</h5>
                          <!--a routerLink="/followers/{{follower.id}}/{{follower.login}}">{{follower.html_url}}</a-->
                          <a [routerLink]="['/followers',follower.id,follower.login]"
                              [queryParams]="{page:1,type:follower.type,var:'valeur'}">{{follower.html_url}}</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </li>
        </ul>
    </div>
</div>

    

 