<table class="table">
  <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Adresse </th>
        <th scope="col">Tel </th>
        <th scope="col"> Ability  </th>
        <th scope="col"> Date d'ouverture   </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{school.schoolname | uppercase}}</td>
        <td>{{school.adresse.ville}}</td>
        <td> {{school.nbTelph}}</td>
        <td>{{school.ability}}</td>
        <td>{{school.date_of_open}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{school.schoolname}}</td>
        <td>{{school.adresse.ville}}</td>
        <td> {{school.nbTelph}}</td>
        <td>{{school.ability}}</td>
        <td>{{school.date_of_open}}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>{{school.schoolname}}</td>
        <td>{{school.adresse.ville}}</td>
        <td> {{school.nbTelph}}</td>
        <td>{{school.ability}}</td>
        <td>{{school.date_of_open}}</td>
      </tr>
    </tbody>
  </table>

